@import '@fontsource/fira-mono';

:root {
	--font-body: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--color-bg-0: rgb(202, 216, 228);
	--color-bg-1: hsl(209, 36%, 86%);
	--color-bg-2: hsl(224, 44%, 95%);
	--color-theme-1: #ff3e00;
	--color-theme-2: #4075a6;
	--color-text: rgba(0, 0, 0, 0.7);
	--column-width: 42rem;
	--column-margin-top: 4rem;
	font-family: var(--font-body);
	color: var(--color-text);

	--main-white: #fff;
	--always-white: var(--main-white);
	--main-green: #26c64b;
	--main-grey: #f7f7fc;
	--main-red: #ff931e;

	--background-highlight: #fff;
	--background-highlight-hover: #fbfbfe;

	--dark-grey: #b7c1cb;
	--divider-grey: #e0e6ee;
	--light-black: #2c3e50;
	--light-blue: #e0eeff;
	--light-grey: #9898b5;
	--light-red: rgba(255, 146, 30, 0.1);

	--success-green: #4bca81;
	--error-red: #ff0033;

	--mobile-breakpoint: 600px;

	--melon: #f9c5b8;
	--sandy-brown: #ffa253;
	--light-goldenrod-yellow: #f5f1cc;
	--air-superiority-blue: #669bbc;
	--middle-blue-green: #7de8d1;
	--emerald: #62d385;
	--cultured: #eeeeee;
	--black: #000000;
	--white: #ffffff;

	--middle-green-eagle: #063a47;
	--lapis-lazuli: #005dac;
	--oxford-blue: #0a0e33;
	--brown-sugar: #996443;
	--antic-ruby: #82172e;
	--violet-crayola: #9d2c7a;
	--rich-black-FOGRA: #111111;

	--main-blue: var(--lapis-lazuli);
	--main-black: #585d6e;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	margin: 0;
	color: var(--main-black);
}

h1,
h2,
p {
	font-weight: 400;
}

p {
	line-height: 1.5;
}

a {
	color: var(--color-theme-1);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1rem;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--color-text);
}

.text-column {
	display: flex;
	max-width: 48rem;
	flex: 0.6;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}

input {
	-webkit-appearance: none;
	border-radius: 0;
}


button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}